@{
    ViewBag.Title = "お問い合わせ";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>お問い合わせ</h1>
        <p>バグ・要望、その他ご意見は以下のメールアドレスまたはTwitterアカウントまでご連絡ください。</p>

        <h2>メール</h2>
        <p><mark>info@bonprosoft.com</mark> までお問い合わせください。</p>
        <h2>Twitter</h2>
        <p><a href="https://twitter.com/bonprosoft">[at]bonprosoft</a> へお気軽にご連絡ください。</p>
    </div>
</div>
