@{
    ViewBag.Title = "お問い合わせ";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>お問い合わせ</h1>
        <p>バグ・要望、その他ご意見は以下のメールアドレスまたはTwitterアカウントまでご連絡ください。</p>

        <h2>メール</h2>
        <p><mark>info@bonprosoft.com</mark> までお問い合わせください。</p>
        <h2>Twitter</h2>
        <p><a href="https://twitter.com/bonprosoft" target="_blank">[at]bonprosoft</a> へお気軽にご連絡ください。</p>


        <h2>プロジェクト一覧</h2>
        <ul>
            <li><a href="https://github.com/aobayama/sendaibus_dataset" target="_blank">仙台市営バスデータセット</a></li>
            <li><a href="https://github.com/aobayama/SendaiBusSearchAPI" target="_blank">仙台市営バスAPI</a></li>
            <li><a href="https://github.com/aobayama/sendaibus_samples" target="_blank">仙台市営バスAPIサンプル集</a></li>
        </ul>

        <h2>メンバー</h2>
        <p>以下の皆さんによって支えられています。</p>
        <ul>
            <li><a href="https://twitter.com/ThePerorist/" target="_blank">@@ThePerorist</a></li>
            <li><a href="https://twitter.com/ja731j" target="_blank">@@ja731j</a></li>
            <li><a href="https://twitter.com/nepiadeath/" target="_blank">@@nepiadeath</a></li>
            <li><a href="https://twitter.com/oboenikui/" target="_blank">@@oboenikui</a></li>
            <li><a href="https://twitter.com/bonprosoft/" target="_blank">@@bonprosoft</a></li>
        </ul>
    </div>
</div>
