@{
    ViewBag.Title = "お問い合わせ";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>お問い合わせ</h1>
        <p>バグ・要望、その他ご意見は以下のメールアドレスまたはTwitterアカウントまでご連絡ください。</p>

        <h2>メール</h2>
        <p><mark>info@bonprosoft.com</mark> までお問い合わせください。</p>
        <h2>Twitter</h2>
        <p><a href="https://twitter.com/bonprosoft" target="_blank">[at]bonprosoft</a> へお気軽にご連絡ください。</p>

        <h2>クレジット</h2>
        <p>このデータセットの開発、およびシステムの開発には以下のメンバーが関わっています。</p>
        <h3><a href="https://twitter.com/ThePerorist/" target="_blank">@@ThePerorist</a></h3>
        <ul>
            <li>データセットのメンテナンス</li>
            <li>経路検索アルゴリズムの調整・開発</li>
        </ul>

        <h3><a href="https://twitter.com/oboenikui" target="_blank">@@oboenikui</a></h3>
        <ul>
            <li>Web版経路検索システムの開発</li>
        </ul>

        <h3><a href="https://twitter.com/bonprosoft" target="_blank">@@bonprosoft</a></h3>
        <ul>
            <li>データセットのメンテナンス</li>
            <li>各種サーバーAPIの開発・保守</li>
        </ul>
    </div>
</div>
