@{
    ViewBag.Title = "仙台市営バスAPI トップページ";
}


<div class="jumbotron">
    <h1>仙台市営バスAPI</h1>
    <p class="lead">仙台市営バスに関するAPIを公開しています。時刻表検索、路線検索、ルート検索を行うことができます。</p>
    <p><a href="http://aobayama.github.io/sendaibus_samples/" class="btn btn-primary btn-lg" target="_blank">サンプルを見る</a></p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bus.aobayama.net/" data-text="仙台市営バスAPI" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>オープンでフリーなAPI</h2>
        <p>APIは無料で開放しております。ご自身のアプリケーション開発などにお役立てください。商用利用の場合は @Html.ActionLink("お問い合わせ", "Contact", "Home", new { area = "" }, null) まで必ずご連絡ください。<br />
            その他ご意見ご感想、このWebAPを使って作成したアプリケーションのご報告も大歓迎です。（開発者が喜びます）</p>
    </div>
    <div class="col-md-4">
        <h2>データセット</h2>
        <p>このサイトで用いているデータはGitHubで公開しています。</p>
        <p><a class="btn btn-default" href="https://github.com/aobayama/sendaibus_dataset" target="_blank">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>地下鉄を含めた統合的な検索</h2>
        <p>将来的には近日開通予定の地下鉄東西線を含めた経路検索に対応予定です。</p>
    </div>
</div>
