@{
    ViewBag.Title = "仙台市営バスデータAPI トップページ";
}


<div class="jumbotron">
    <h1>仙台市営バスデータAPI</h1>
    <p class="lead">仙台市営バスに関するデータを公開しています。の時刻表検索、路線検索、ルート検索を行うことができます。</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>利用量無料</h2>
        <p>APIは無料で開放しております。ご自身のアプリケーション開発などにお役立てください。商用利用の場合は @Html.ActionLink("お問い合わせ", "Contact", "Home", new { area = "" }, null) まで必ずご連絡ください。<br />
            その他ご意見ご感想、このWebAPを使って作成したアプリケーションのご報告も大歓迎です。（私が喜びます）</p>
    </div>
    <div class="col-md-4">
        <h2>データセット</h2>
        <p>このサイトで用いているデータはGitHubで公開しています。</p>
        <p><a class="btn btn-default" href="https://github.com/aobayama/sendaibus_dataset" target="_blank">Go &raquo;</a></p>
    </div>
</div>
